* {
  box-sizing: border-box;
}
body {
  background-color: #eee;
  font-family: Arial, Tahoma;
}
.page-head,
.page-description {
  text-align: center;
}
.page-head {
  font-size: 40px;
  margin: 20px 0 0;
}
.page-description {
  font-size: 22px;
  margin: 10px 0 40px;
}
